@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$font-main: 'Inter', sans-serif;
$font-secondary: 'Plus Jakarta Sans', sans-serif;

html {
    font-size: 62.5%;
}

$s1: 0.5rem;
$s2: 1rem;
$s3: 1.5rem;
$s4: 2rem;
$s5: 2.5rem;
$s6: 3rem;
$s7: 3.5rem;
$s8: 4rem;
$s9: 4.5rem;
$s10: 5rem;