@use './colors.scss' as *;
@use './fonts.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.03) 100%); 
    backdrop-filter: blur(30px) saturate(150%);
    -webkit-backdrop-filter: blur(30px) saturate(150%); //dla safari
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: clamp(250px, 25vw, 500px);
    height: clamp(400px, 80vh, 850px);
    border-radius: clamp(1.5rem, 3vw, 2.5rem);
    padding: clamp(1.5rem, 5vw, 3rem);  
    color: $text-main;
    overflow: hidden;

    .scrollArea {
        flex: 1;
        overflow-y: auto;
        margin-bottom: $s2;
        padding-right: $s1;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(white, 0.2);
            border-radius: $s2;
        }

        .content {
            p {
                font-family: $font-main;
                line-height: 1.5;
                font-size: clamp(0.8rem, 1.2vw, 1.4rem);
                white-space: pre-wrap;
                word-wrap: break-word;
            }
        }
    }

    .footer {
        display: flex;
        gap: $s2;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: $s2;
        border-top: 1px solid rgba(255, 255, 255, 0.1);

        button {
            flex: 1;
            min-width: 0;
        }
    }
}